PORT=8080
DB_URL=jdbc:postgresql://localhost:5432/transaction_validation_service_db
DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password_here
CACHE_HOST=localhost
CACHE_PASSWORD=your_cache_password_here
API_URL=https://api.twelvedata.com
API_KEY=your_api_key_here
SPRING_PROFILES_ACTIVE=dev